*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	--area-porta-altura: 310px;
	--area-porta-largura: 200px;
}

html {
	font-family: sans-serif;
}

body {
	color: #fff;
	background-color: #444;
}
