.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
.slide-in-elliptic-top-fwd {
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 0.7s;
}
@keyframes slide-in-elliptic-top-fwd {
	0% {
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotateX(0) scale(1);
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}
